<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Leaflet Maps</title>
  <style media="screen">
    .item {
      font-size: 20px;
    }
    .link {
      color: darkred;
    }
    .description {
      font-size: 18px;
    }
    .description:before {
      content:" | ";
    }
  </style>
</head>
<body class="body">
  <header>
    <h1 class="title">マップ(<%= projects.length %>個のプロジェクト)</h1>
  </header>
  <div class="content">
    <ul>
      <% projects.forEach((project) => {%>
        <li class="item">
          <span><a class="link" href="./<%= project %>"><%= conf[project].title %></a></span>
          <span class="description"><%- conf[project].description %></span>
        </li>
      <% }) %>
    </ul>
  </div>
</body>
</html>
