<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Leaflet Maps</title>
  <style media="screen">
    .item {
      font-size: 20px;
    }
    .link {
      color: darkred;
    }
    .description {
      font-size: 18px;
    }
    .description:before {
      content:" | ";
    }
  </style>
</head>
<body class="body">
  <header>
    <h1 class="title">マップ(<%= projects.length %>個のプロジェクト)</h1>
  </header>
  <div class="content">
    <ul>
      <%
        var title, description
        projects.forEach((project) => {
          if (conf[project]) {
            title = conf[project].title ? conf[project].title  : 'NEW MAP'
            description = conf[project].title ? conf[project].title  : 'A new map page.'
        } else {
            title = 'NEW MAP'
            description = 'A new map page.'
        }
      %>
        <li class="item">
          <span><a class="link" href="./<%= project %>"><%= title %></a></span>
          <span class="description"><%- description %></span>
        </li>
      <% }) %>
    </ul>
  </div>
</body>
</html>
